#cardContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 10%;
    
}


#cardBody{
    padding: 10px;
}

#btn{
    float: right;
}

.inputs{
    float: left;
    margin: 5px;
}